{% extends 'admin-base.html' %}

{% load static %}

{% block extra_head %}
{% endblock extra_head %}

{% block extra_body %}
    <script src="{% static '/blog/js/pie-charts/chart/chart.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/blog/js/pie-charts/charts.js' %}" type="text/javascript"></script>
{% endblock extra_body %}

{% block content %}
    <section class="sec-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <a href="https://metrika.yandex.ru/dashboard?id=61840354" class="img-thumbnail-link"><img
                            src="/nebezdariproject/media/yandex-metrika.jpg" alt=""
                            class="img-responsive"></a></div>
            </div>
        </div>
    </section>
{% endblock content %}
