{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="row">
                <div class="col-md-16">
                    <div class="call-to-action">
                        <div class="col-md-9">
                            <h4>Post title</h4>
                            {% lorem 1 p %}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-yellow btn-medum btn-block round pull-right uppercase" href="#">Читать
                                далее</a>
                            <a class="btn btn-red btn-medum btn-block round pull-right uppercase" href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="col-md-12 text-center">
                <ul class="pagination style-1 hover-violet">
                    <li><a href="#"><span aria-hidden="true"><svg class="svg-inline--fa fa-angle-double-left fa-w-14"
                                                                  aria-hidden="true" focusable="false" data-prefix="fas"
                                                                  data-icon="angle-double-left" role="img"
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 448 512" data-fa-i2svg=""><path
                            fill="currentColor"
                            d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg>
                        <!-- <i class="fas fa-angle-double-left"></i> --></span></a>
                    </li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#"><span aria-hidden="true"><svg class="svg-inline--fa fa-angle-double-right fa-w-14"
                                                                  aria-hidden="true" focusable="false" data-prefix="fas"
                                                                  data-icon="angle-double-right" role="img"
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 448 512" data-fa-i2svg=""><path
                            fill="currentColor"
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path></svg>
                        <!-- <i class="fas fa-angle-double-right"></i> --></span></a>
                    </li>
                </ul>
            </div>
        </div>

    </section>
{% endblock content %}

{% block subscription %}
{% endblock subscription %}