{% extends 'admin-base.html' %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="sp-cart">
                        <tbody>
                        <tr>
                            <th style="width:20%;">Заголовок</th>
                            <th style="width:50%;">Описание</th>
                            <th style="width:10%;"></th>
                            <th style="width:10%;"></th>
                        </tr>

                        {% for post in posts_list %}
                            <tr>
                                <td class="pro-title"><h4><a href="/post/{{ post.id }}/">{{ post.title }}</a></h4></td>
                                <td class="pro-des"><p>

                                    Author:
                                    {% if post.author %}
                                        <a href="author/{{ post.author.username }}/">{{ post.author.first_name }}</a>
                                        <br>
                                    {% else %}
                                        ---<br>
                                    {% endif %}

                                    Posted at: {{ post.posted_at }} <br>
                                    Edited at: {{ post.edited_at }} <br>
                                    Categories:
                                    {% for category in post.categories.all %}
                                        <a href="/?categories={{ category.id }}">{{ category.name }}</a>
                                        {% if not forloop.last %} | {% endif %}
                                    {% endfor %} <br>
                                </p></td>
                                <td><a class="btn btn-green-dark btn-small" href="/post/{{ post.id }}/">Читать</a></td>
                                <td><a class="btn btn-red-dark btn-small" href="/post/{{ post.id }}/delete/">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}