<a name="comment-{{ comment.id }}"></a>
<div id="{{ comment.id }}" class="text-box border white padding-3">
    <h5 class="less-mar-1">
        {% if comment.author %}
            <a href="/author/{{ comment.author.username }}/">{{ comment.author.username }}
                ({{ comment.author.get_full_name }})</a>
        {% else %}
            {{ comment.name }}
        {% endif %}
        <a href="#comment-{{ comment.id }}">#</a></h5>
    <div class="blog-post-info"><span>{{ comment.created_at }}</span></div>
    <br>
    <p>{{ comment.text }}</p>
    <br>
    {% if commentForm %}
        <a class="btn btn-border less-bor dark btn-small" onclick="return show_comments_form({{ comment.id }})"><i
                class="fa fa-reply" aria-hidden="true"></i>&nbsp;Ответить</a>
    {% endif %}

    {% if user.is_staff or post.author == user %}
        <a class="btn btn-border less-bor dark btn-small" href="/post/{{ post.id }}/deletecomment/{{ comment.id }}/"><i
                class="fa fa-trash" aria-hidden="true"></i>&nbsp;Удалить</a>
    {% endif %}

</div>
<div class="col-divider-margin-2"></div>

{% if comment.children %}
    <div class="col-md-11 pull-right">
        {% for comment in comment.children.all %}
            {% include 'blog/includes/comment.html' %}
        {% endfor %}
    </div>
{% endif %}
