<div class="col-md-12 nopadding">
    <div class="header-section">
        <div class="topbar dark topbar-padding pin-style">
            <div class="container">
                <div class="mod-menu">
                    <div class="topbar-left-items">
                        <ul class="toplist toppadding pull-left paddtop1">
                            <li class="rightl"><a href="/">NEBEZDARI</a></li>
                        </ul>
                    </div>
                    <!--end left-->

                    <div class="topbar-right-items pull-right">
                        <ul class="toplist toppadding">
                            <li class="lineright"><a href="/">Главная</a></li>
                            <li class="lineright"><a href="/about">О нас</a></li>
                            <li class="last"><a href="/contact">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>