<section class="sec-padding-6 section-medium-dark">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto w-auto">
                <div class="container">
                    <div class="row">
                        <div class="sec-title-container less-padding-6 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-5 text-white">
                                Подпишитесь на обновления сайта</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-body bg-light">
                            <form class="form-row">
                                <div class="sp-feature-box-4">
                                    <input type="search" class="input-1"
                                           placeholder="Введите E-Mail адрес">
                                    <button type="submit" class="submit-btn btn-anim-1 uppercase"><i
                                            class="far fa-bell" aria-hidden="true"></i> <span>Подписаться</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="clearfix"></div>