{% extends "base.html" %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-10 col-centered">
                            <div class="col-md-6 margin-bottom">
                                <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive">
                                <h3 class="font-weight-6 less-mar-1 line-height-4 text-center">First name - Last
                                    name</h3>
                            </div>
                            <!--end item-->
                            <div class="col-md-6 padding-left-6">
                                {% lorem 3 p %}
                            </div>
                            <!--end main col-->
                        </div>
                    </div>
                    <br>


                    <div class="col-sm-12">
                        <div class="sec-title-container text-center">
                            <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text">Latest Blog Posts and
                                news</h5>
                            <h2 class="font-weight-6 less-mar-1 line-height-5">You can start a successful blog and <br>
                                Create Awesome Design Styles</h2>
                            <div class="ce-title-line"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--end title-->

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="ce-feature-box-52 margin-bottom">
                            <div class="ce-post-img"><a href="#">
                                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </a> <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive"></div>
                            <div class="text-box padd-1 shadow">
                                <h5 class="less-mar-1 title"><a href="#">Awesome Features</a></h5>
                                <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar
                                    lectus a est.</p>
                                <div class="date-info-box">


                                    <div class="box-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                                        August 19, 2018
                                    </div>

                                    <div class="box-right">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp; 26
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end item-->

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="ce-feature-box-52 margin-bottom">
                            <div class="ce-post-img"><a href="#">
                                <div class="info-badge"><span class="icon-phone icon"></span>Technology</div>
                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </a> <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive"></div>
                            <div class="text-box padd-1 shadow">
                                <h5 class="less-mar-1 title"><a href="#">Pixel Perfect Design</a></h5>
                                <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar
                                    lectus a est.</p>
                                <div class="date-info-box">


                                    <div class="box-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                                        August 19, 2018
                                    </div>

                                    <div class="box-right">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp; 26
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end item-->

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="ce-feature-box-52 margin-bottom">
                            <div class="ce-post-img"><a href="#">
                                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </a> <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive"></div>
                            <div class="text-box padd-1 shadow">
                                <h5 class="less-mar-1 title"><a href="#">Flexible For allDevices</a></h5>
                                <p>Lorem ipsum dolor sit amet sit justo et consectetuer dolor sit amet justo adipiscing
                                    ipsum.</p>
                                <div class="date-info-box">

                                    <div class="box-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                                        August 19, 2018
                                    </div>

                                    <div class="box-right">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp; 26
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end item-->

                </div>
            </div>
        </div>
    </section>
{% endblock content %}