{% extends "base.html" %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sec-title-container text-center">
                        <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text">Встречайте нашу креативную
                            команду!</h5>
                        <h2 class="font-weight-6 less-mar-1 line-height-5">
                            Встречайте нашу экспертную команду <br>
                            и получите поддержку и скидки <br>
                            на будущие продукты
                        </h2>
                        <div class="ce-title-line"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--end title-->

                <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                    <div class="ce-feature-box-8">
                        <div class="main-box">
                            <div class="img-box">
                                <div class="overlay">
                                    <p class="small-text text-center">Лучший и лучших</p>
                                    <br>
                                    <ul class="sc-icons">
                                        <li><a href="https://vk.com/yaneandreiyaandroid"><i class="fab fa-vk"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="/nebezdariproject/media/photos/peepohappy.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="text-box text-center">
                                <h5 class="nopadding title">Андрюша</h5>
                                <p class="subtext">CEO, Backend, Frontend</p>
                            </div>
                        </div>
                    </div>
                    <!--end feature box-->
                </div>
                <!--end item-->

                <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                    <div class="ce-feature-box-8">
                        <div class="main-box">
                            <div class="img-box">
                                <div class="overlay">
                                    <p class="small-text text-center">Лучший проект-менеджер</p>
                                    <br>
                                    <ul class="sc-icons">
                                        <li><a href="https://vk.com/id152291174"><i class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/nebezdariproject/media/photos/pepehands.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="text-box text-center">
                                <h5 class="nopadding title">Никитка</h5>
                                <p class="subtext">PM, UI Designer</p>
                            </div>
                        </div>
                    </div>
                    <!--end feature box-->

                </div>
                <!--end item-->

                <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                    <div class="ce-feature-box-8">
                        <div class="main-box">
                            <div class="img-box">
                                <div class="overlay">
                                    <p class="small-text text-center">Лучший тестировщик и разработчик AR</p>
                                    <br>
                                    <ul class="sc-icons">
                                        <li><a href="https://vk.com/somenoticesomeknowthis"><i
                                                class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/nebezdariproject/media/photos/peepoweird.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="text-box text-center">
                                <h5 class="nopadding title">Максимка</h5>
                                <p class="subtext">Аналитика, тестирование</p>
                            </div>
                        </div>
                    </div>
                    <!--end feature box-->
                </div>
                <!--end item-->

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock content %}