{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'blog/js/owl-carousel/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/js/owl-carousel/owl.theme.css' %}" type="text/css">
{% endblock extra_head %}

{% block extra_body %}
    <script src="{% static 'blog/js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/owl-carousel/custom.js' %}"></script>
{% endblock extra_body %}

{% block extra_breadcrumbs %}
    {% if user.username == author.username %}
        <li><a href="/author/{{ author.username }}/edit/">Редактировать</a></li>
    {% endif %}
{% endblock extra_breadcrumbs %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-centered">
                            <div class="col-md-5 margin-bottom">
                                {% if author.avatar %}
                                    <img src="{{ author.avatar.url }}"
                                         alt="" class="img-responsive">
                                {% else %}
                                    <img src="https://eu.ui-avatars.com/api/?name={{ author.get_full_name }}&size=512"
                                         alt="" class="img-responsive">
                                {% endif %}
                                <br>
                                <h3 class="font-weight-6 less-mar-1 line-height-4 text-center">{{ author.get_full_name }}</h3>
                            </div>
                            <!--end item-->
                            <div class="col-md-6 padding-left-6">
                                {{ author.about|safe }}
                            </div>
                            <!--end main col-->
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        <div class="sec-title-container text-center">
                            <h2 class="font-weight-6 less-mar-1 line-height-5">Последние посты автора</h2>
                            <div class="ce-title-line"></div>
                        </div>
                    </div>
                    <!--end title-->

                    <div class="col-md-10 col-sm-12 col-xs-12 col-centered">
                        {% for post in post_list %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="ce-feature-box-52 margin-bottom">
                                    <div class="text-box padd-1 shadow">
                                        <div class="info-badge">
                                            {% if user.username == author.username %}
                                                <a class="btn btn-green-dark btn-small"
                                                   href="/post/{{ post.id }}/edit/">Редактировать</a>
                                                <a class="btn btn-red-dark btn-small"
                                                   href="/post/{{ post.id }}/delete/">Удалить</a>
                                            {% endif %}
                                        </div>
                                        <h4 class="less-mar-1 title"><a
                                                href="/post/{{ post.id }}">{{ post.title }}</a>
                                        </h4>
                                        <p>{{ post.text|safe|truncatewords:20 }}</p>

                                        <div class="date-info-box">
                                            <div class="box-left">
                                                <i class="fa fa-calendar"
                                                   aria-hidden="true"></i>&nbsp;{{ post.posted_at|date:'d M Y H:i' }}

                                                {% if user.username == author.username %}
                                                      <i class="fas fa-comment"
                                                       aria-hidden="true"></i>&nbsp;{{ post.comments.count }}
                                                {% endif %}
                                            </div>

                                            <div class="box-right">
                                                {% if user.username != author.username %}
                                                    <i class="fas fa-comment"
                                                       aria-hidden="true"></i>&nbsp;{{ post.comments.count }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-divider-margin-6"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}

