{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'blog/js/owl-carousel/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/js/owl-carousel/owl.theme.css' %}" type="text/css">
{% endblock extra_head %}

{% block extra_body %}
    <script src="{% static 'blog/js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/owl-carousel/custom.js' %}"></script>
{% endblock extra_body %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-10 col-centered">
                            <div class="col-md-5 margin-bottom">
                                {% if author.avatar %}
                                    <img src="{{ author.avatar.url }}"
                                         alt="" class="img-responsive">
                                {% else %}
                                    <img src="https://eu.ui-avatars.com/api/?name={{ author.get_full_name }}&size=512"
                                         alt="" class="img-responsive">
                                {% endif %}
                                <br>
                                <h3 class="font-weight-6 less-mar-1 line-height-4 text-center">{{ author.get_full_name }}</h3>
                            </div>
                            <!--end item-->
                            <div class="col-md-6 padding-left-6">
                                {{ author.about|safe }}
                            </div>
                            <!--end main col-->
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        <div class="sec-title-container text-center">
                            <h2 class="font-weight-6 less-mar-1 line-height-5">Последние посты автора</h2>
                            <div class="ce-title-line"></div>
                        </div>
                    </div>
                    <!--end title-->

                    <div class="slide-controls-2">
                        <div id="owl-loop" class="owl-carousel">
                            {% for post in post_list %}
                                <div class="item">
                                    <div class="ce-feature-box-45">
                                        <div class="ce-post-img">
                                            <a href="#">
                                                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                            </a>
                                            <img src="http://via.placeholder.com/1000x800" alt=""
                                                 class="img-responsive">
                                        </div>

                                        <div class="text-box">
                                            <h5 class="less-mar-1 title"><a
                                                    href="/post/{{ post.id }}">{{ post.title }}</a></h5>
                                            <p>{{ post.text|safe|truncatewords_html:10 }}</p>

                                            <div class="date-info-box">
                                                <div class="box-left">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                                                    August 19, 2018
                                                </div>

                                                <div class="box-right">
                                                    <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp; 26
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--end item-->
                </div>
            </div>
        </div>
    </section>


{% endblock content %}

