{% extends "base.html" %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="one_half">
                        <div class="cforms_sty3">
                            <div id="form_status"></div>
                            <form action="/contact/" method="POST" id="gsr-contact" onsubmit="return valid_datas( this );">{% csrf_token %}
                                <label for="id_name" class="label">Name <em>*</em></label>
                                {{ form.name.errors }}
                                {{ form.name }}
                                <div class="clearfix"></div>

                                <label for="id_sender" class="label">E-mail <em>*</em></label>
                                {{ form.sender.errors }}
	                            {{ form.sender }}
                                <div class="clearfix"></div>

                                <label for="id_subject" class="label">Subject <em>*</em></label>
                                {{ form.subject.errors }}
	                            {{ form.subject }}
                                <div class="clearfix"></div>

                                <label for="id_message" class="label">Message <em>*</em></label>
                                {{ form.message.errors }}
	                            {{ form.message }}
                                <div class="clearfix"></div>

                                <input type="hidden" name="token" value="FsWga4&amp;@f6aw">
                                <button type="submit" class="button">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-4 text-left">
                    <h3><strong>Get in Touch</strong></h3>
                    <br>
                    <h4>Address Info</h4>
                    <h6>Nebezdari Team</h6>
                    <p>13031 W Jefferson Blvd UNIT 200, Los Angeles, CA 90094
                        Telephone: +7 952 952 52 38
                    </p>
                    <br>
                    <p>E-mail: admin@nebezdari.ru</p>
                    <p>Website: www.nebezdari.ru</p>
                </div>
                <!--end item-->


            </div>
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock content %}