{% extends "base.html" %}

{% block extra_breadcrumbs %}
    {% if user.username == post.author.username %}
        <li><a href="/post/{{ post.id }}/edit/">Редактировать пост</a></li>
    {% endif %}
{% endblock extra_breadcrumbs %}


{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>

                    <div class="col-md-12 nopadding">
                        <div class="text-box">
                            <div class="text-center">
                                <div class="blog-post-info">
                                    {% if post.author.avatar %}
                                        <img src="{{ post.author.avatar.url }}"
                                             alt="" class="img-circle imgbox-small">
                                    {% else %}
                                        <img src="https://eu.ui-avatars.com/api/?name={{ post.author.get_full_name }}&size=512"
                                             alt="" class="img-circle imgbox-small">
                                    {% endif %}

                                    <h4 class="uppercase title less-mar-1"><a
                                            href="/author/{{ post.author.username }}/">{{ post.author.get_full_name }}</a>
                                    </h4>
                                    <h4 class="raleway  less-mar-1">{{ post.title }}</h4>
                                </div>

                                <i class="fa fa-folder"></i>
                                {% for category in post.categories.all %}
                                    <a href="/?categories={{ category.id }}">{{ category.name }}</a>
                                    {% if not forloop.last %} | {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        {{ post.text|safe }}
                    </div>


                    <div class="clearfix"></div>
                    <br><br>
                    <h4>{{ comment_list.count }} Комментариев</h4>

                    {% for comment in comment_list %}
                        {% if not comment.parent %}
                            {% include "blog/includes/comment.html" %}
                        {% endif %}
                    {% endfor %}

                    <div class="clearfix"></div>
                    <br/><br/>
                    <h4>Post a Comment</h4>
                    <form method="post" action="/post/{{ post.id }}/add/comment">
                        <input class="bg-cinput" type="text" placeholder="Введите имя" value="">
                        <textarea class="bg-ctexteria" style="resize: vertical"
                                  placeholder="Введите комментарий"></textarea>
                        <div class="clearfix"></div>
                        <br>
                        <button class="btn btn-dark-3 btn-large uppercase" type="submit"><i
                                class="fa fa-paper-plane"
                                aria-hidden="true"></i> Опубликовать
                            комментарий
                        </button>
                    </form>
                </div>
                <!--end post item-->

                {% include 'blog/includes/right-sidebar.html' %}
                <!--end right col-->
            </div>

        </div>
    </section>
    <!--end comments col-->
{% endblock content %}