{% extends "base.html" %}

{% block content %}
    <section class="sec-padding">
        <div class="container">

            <div class="col-md-12">
                <div class="col-md-12 text-center"><h4 class="uppercase">Добавление нового автора</h4></div>
                <div class="clearfix"></div>
                <div class="form-body border-light">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="lable-text" for="name">Email нового автора</label>
                            <input id="name" class="input-1" type="text" placeholder="Email нового автора" name="Name">
                        </div>
                    </div>
                    <!-- end row -->
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="lable-text" for="email">Логин нового автора</label>
                            <input id="email" class="input-1" type="password" placeholder="Логин нового автора"
                                   name="password">
                        </div>
                    </div>
                    <!-- end row -->
                    <br>

                    <div class="row">
                        <br>
                        <div class="col">
                            <div class="mx-auto bg-dark text-white text-center w-50">
                                <button class="btn btn-dark-3 btn-half-fullwidth uppercase" type="submit">Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!--end form body-->
            </div>
            <!--end item-->

        </div>
    </section>
{% endblock content %}

{% block subscription %}
{% endblock subscription %}