<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} nebezdari.ru - Блог компании NBZDR {% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <!-- Mobile view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(61840354, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/61840354" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163297483-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163297483-1');
    </script>

    <!-- Favicon -->

    <!-- Google fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">

    <!-- Template's stylesheets -->
    <link rel="stylesheet" href="{% static 'blog/js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/theme-default.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/corporate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/shortcodes.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/shop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/fonts/fontawesome/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/vacation.css' %}" type="text/css">
    {% block extra_head %}
    {% endblock extra_head %}
    <!-- Template's stylesheets END -->

    <!-- Style Customizer's stylesheets -->
    <link rel="stylesheet/less" href="{% static 'blog/less/skin.less' %}" type="text/css">
    <!-- Style Customizer's stylesheets END -->

    <!-- Skin stylesheet -->
</head>
<body>
<div class="over-loader loader-live">
    <div class="loader">
        <div class="loader-item style4">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>
<!--end loading-->

<div class="wrapper-boxed">
    <div class="site-wrapper">

        {% block header %}

            {% block topmenu %}
               {% include 'blog/includes/main-menu.html' %}
            {% endblock topmenu %}

            {% block pageheader %}
                <section class="section-side-image clearfix">
                    <div class="img-holder col-md-12 col-sm-12 col-xs-12">
                        <div class="background-imgholder"
                             style="background:url(/nebezdariproject/media/main-page.jpg);">
                            <img class="nodisplay-image" src="/nebezdariproject/media/main-page.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
                                <div class="header-inner less-height">
                                    <div class="overlay">
                                        <div class="text text-center">
                                            <h3 class="uppercase text-white less-mar-1 title">Блог компании NBZDR</h3>
                                            <h6 class="uppercase text-white sub-title">Knowledge is power</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class=" clearfix"></div>
                <!-- end header with image -->
            {% endblock pageheader %}

            {% block breadcrumbs %}
                <section>
                    <div class="pagenation-holder">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6"><h4 class="uppercase">Блог компании NBZDR</h4></div>
                                <div class="col-md-6">
                                    <ol class="breadcrumb">
                                        {% if user.is_authenticated %}
                                            <li><a href="/author/">Личная страница</a></li>
                                            <li><a href="/post/add">Добавить пост</a></li>
                                        {% endif %}

                                        {% block extra_breadcrumbs %}
                                        {% endblock extra_breadcrumbs %}

                                        {% if user.is_authenticated %}
                                            <li><a href="/logout">Выход</a></li>
                                        {% else %}
                                            <li><a href="/login">Авторизация</a></li>
                                        {% endif %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock breadcrumbs %}
            <!--end section-->
        {% endblock header %}

        {% block content %}
        {% endblock content %}
        <!-- end section -->

        {% block footer %}
            {% block subscription %}
                {% include 'blog/includes/subcription.html' %}
            {% endblock subscription %}

            {% block copyright %}
                {% include 'blog/includes/copyright.html' %}
            {% endblock copyright %}
        {% endblock footer %}
    </div>
    <!--end site wrapper-->
</div>
<!--end wrapper boxed-->

<!-- Scripts -->
<script src="{% static 'blog/js/jquery/jquery.js' %}"></script>
<script src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'blog/js/less/less.min.js' %}" data-env="development"></script>

{% block extra_body %}
{% endblock extra_body %}
<!-- Scripts END -->

<!-- Template scripts -->
<script src="{% static 'blog/fonts/fontawesome/all.min.js' %}"></script>
</body>
</html>
