{% extends "base.html" %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                    <div class="pages-sidebar-item">
                        <h5 class="uppercase pages-sidebar-item-title">Категории</h5>
                        <ul class="pages-sidebar-links">
                            <li><a href="/category">Категория 1</a></li>
                            <li><a href="/category">Категория 2</a></li>
                            <li><a class="active" href="/category">Категория 3</a></li>
                            <li><a href="/category">Категория 4</a></li>
                            <li><a href="/category">Категория 5</a></li>
                            <li><a href="/category">Категория 6</a></li>
                        </ul>
                    </div>
                    <!--end item holder-->
                </div>
                <!--end left col-->

                <div class="col-md-8 nopadding">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="ce-feature-box-52 margin-bottom">
                            <div class="ce-post-img"><a href="/post">
                                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </a> <img src="http://via.placeholder.com/2000x1000" alt="" class="img-responsive">
                            </div>
                            <div class="text-box padd-1 shadow">
                                <h4 class="less-mar-1 title"><a href="/post">You can start a successful blog and<br>Create
                                    Awesome Design Styles </a></h4>
                                <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In
                                    pulvinar lectus a est.</p>
                                <div class="date-info-box">


                                    <div class="box-left">
                                        <i class="fas fa-calendar" aria-hidden="true"></i>&nbsp;
                                        August 19, 2018
                                    </div>

                                    <div class="box-right">
                                        <i class="fas fa-comment" aria-hidden="true"></i>&nbsp; 26
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-divider-margin-5"></div>
                    <!--end item-->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="ce-feature-box-52 margin-bottom">
                            <div class="ce-post-img"><a href="/post">
                                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </a> <img src="http://via.placeholder.com/2000x1000" alt="" class="img-responsive">
                            </div>
                            <div class="text-box padd-1 shadow">
                                <h4 class="less-mar-1 title"><a href="/post">You can start a successful blog and<br>Create
                                    Awesome Design Styles </a></h4>
                                <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In
                                    pulvinar lectus a est.</p>
                                <div class="date-info-box">


                                    <div class="box-left">
                                        <i class="fas fa-calendar" aria-hidden="true"></i>&nbsp;
                                        August 19, 2018
                                    </div>

                                    <div class="box-right">
                                        <i class="fas fa-comment" aria-hidden="true"></i>&nbsp; 26
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-divider-margin-5"></div>
                    <!--end item-->



                    <!-- PAGINATION SECTION START -->
                    <div class="col-divider-margin-3"></div>
                    <div class="col-md-12 text-center">
                        <ul class="pagination style-1 hover-violet">
                            <li><a href="#"><span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span></a>
                            </li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- PAGINATION SECTION END -->
                </div>
                <!--end main block with posts-->
            </div>
        </div>
    </section>
{% endblock content %}